.bighome{
    width: 20px;
    height: 20px;
}
.Menu{
    margin-left: 8cm;
}
hr{
    color: darkred;
    background-color: darkred;
    margin-left: 8cm;
    margin-right: 8cm;
}
a{
    text-decoration: none;
    
}
.link-menu{
    margin: 0 10px;
    color: black;
    font-weight: bold;

}
a.link-menu:hover {
    color: white;
    background-color: red;
}
.even{
    width: 20px;
    height: 20px;
    margin-left: 8cm;
}
.hotnew{
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}
.hotnew1{
    margin-left: 10px;
    color: gray;
}
a.hotnew1:hover{
    color: darkred
}
.new1{
    width: 475px;
    height: 300px;
    padding-top: -7px;
}
.title1{
    font-size: 30px;
}
.content1{
    font-size: 20px;
} 
.tin-chinh{
   border: 1px solid antiquewhite;
   margin-right: 19.2cm;
   margin-left: 8cm;
   margin-top: 20px;
}
.tinnho{
    border: 1px solid antiquewhite;
    width: 155px;
    padding-bottom: 30px;
    display: inline-block;
    margin-left: 8cm;
    margin-right: -8cm;
    margin-top: 1cm;
    
}
.chunho{
    font-size: 14px;
    color: black;
}
.tt{
    display: inline-block;
}